@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Megrim);
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: #060606;
    background-image: url("http://www.transparenttextures.com/patterns/black-scales.png");
    background-repeat: repeat;
}
p {
    color: white;
    font-size: 1.02em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
h3 {
    font-size: 1em;
}
h1, h3 {
    color: #444444;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
footer {
    font-size: 0.85em;
    background: #191919 url("../img/dust.png") repeat;
    height: 180px;
    margin-top: 60px;
    padding-bottom: 30px;
    padding-top: 80px;
}
.megrim {
    font-family: 'Megrim', cursive;
}
.sobre-inner img {
    margin-top: 20px;
    width: 180px;
    border: 8px solid red;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
}
.smaller {
    width: 128px;
    border: 3px solid red;
    border-radius: 75px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
}
.smaller:hover {
    -webkit-animation: pulse infinite 1s;
    animation: pulse infinite 1s;
    cursor: pointer;
}
.global-margin {
    margin: 5%;
}
.node {
    color: green
}
.js {
    color: greenyellow
}
.html {
    color: firebrick
}
.css {
    color: royalblue
}
.angular {
    color: red
}

/** Borda do menu responsivo no topo **/

.navbar-default {
    border-color: rgba(0, 0, 0, 0);
    background: black;
    -webkit-transition: all 0.2s linear 0.1s;
    transition: all 0.2s linear 0.1s;
    -webkit-box-shadow: 0px 12px 65px 25px black;
    -moz-box-shadow: 0px 12px 65px 25px black;
    box-shadow: 0px 12px 100px 50px black;
}
.selected {
    box-shadow: inset 0px -5px 0px 0px #444444;
    color: #444444;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.font-justify {
    text-align: justify;
}
.font-center {
    text-align: center;
}
.font-right {
    text-align: right;
}
.font-left {
    text-align: left;
}
.font-size-90 {
    font-size: 90px;
}
.margin-top-10 {
    margin-top: 10px;
}
.font-size-50 {
    font-size: 50px;
}
.black {
    color: black;
}
.white {
    color: white;
}
.notosans {
    color: #02483E;
}
.font-weight-300 {
    font-weight: 300;
}
.font-weight-400 {
    font-weight: 400;
}
.font-weight-600 {
    font-weight: 600;
}
.jumbotron {
    background-image: url("../assets/home/5.jpg");
    background-size: cover;
    margin-bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed!important;
    overflow: hidden;
    /*box-shadow: inset 0px 119px 172px 3px rgba(0, 0, 0, 0.75);*/
}
.jumbotron p {
    font-weight: 400;
    font-size: 1.02em
}
.jumbo-container {
    height: 100vh;
    min-height: 100vh;
}
.jumbo-header {
    margin-top: 22%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.jumbo-header h1 {
    color: white;
    font-size: 7em;
}
.jumbo-div {
    text-align: left;
    margin-left: 25px;
    font-weight: 600;
}
.row {
    margin: 0;
}
.home-row-margin {
    margin-bottom: 55px;
}
.hamburguer span:before {
    content: "\f11c";
    font-family: 'Flaticon';
    font-size: 20px;
    font-weight: 300;
    color: white;
}
.line-height {
    line-height: 14px;
}
.change {
    color: red;
}
.h1-decoration {
    padding: 6px;
    background: rgba(0, 0, 0, 0.5);
}
.div-decoration {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
}
.navbar-bg {
    background: #057C46;
}
.navbar-border {
    border-color: #e7e7e7;
}
.jumbotron-decoration {
    background-image: none;
    background-size: cover;
    background: #057C46;
    margin-bottom: 10px;
}
.jumbotron-decoration h1 {
    font-size: 3.5em;
}
.margin-bottom-0 {
    margin-bottom: 0px;
}
.margin {
    margin-left: 35px;
    margin-right: 35px;
}
@media screen and (max-width: 768px) {
    .jumbotron h1, .jumbotron .h1 {
        font-size: 3em;
    }
    .jumbotron p {
        font-size: 1.3em;
    }
    .font-justify {
        text-align: left;
    }
    .margin {
        margin-left: 15px;
        margin-right: 15px;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: none;
    }
    .jumbo-div {
        margin-left: 0px;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
}
