<div class="row">
    <div class="col-md-3">
        <h1>Com a NE<span class="change">W</span>.EB<span class="change">/</span> temos a melhor solução para o seu site, com agilidade e o suporte que você precisa.</h1>
    </div>
    <div class="col-md-9 font-justify">
        <div class="row">
            <p>Sobre a NE<span class="change">W.</span>EB<span class="change">/</span></p>
            <p>Criada em 2015, pelos alunos Paulo André, Guilherme Leão e Wanderson Alves, ambos com formação no curso de Ciência da Computação pela Universidade Catolica de Pernambuco, a NEW.EB/ vem com vasta experiência em desenvolvimento front-end projetando
                sites e pequenos sistemas usando as ultimas tecnologias existentes.</p>
            <p>Usando o máximo do <span class="html">HTML5</span> + <span class="css">CSS3</span>, <span class="js">JavaScript</span>, <span class="node">NodeJS</span>, e <span class="angular">AngularJS</span>, criamos sites dinamicos que atendem a demanda
                de nossos usuarios, prestando também todo o suporte necessário para instalação do site no servidor desejado pelo cliente.</p>
        </div>
        <div class="row sobre-inner">
            <div class="col-md-2">
                <img src="res/assets/about/popoto.jpg" alt="Foto-Popoto">
            </div>
            <div class="col-md-8 col-centered">
                <p class="font-left line-height"><span class="change">W</span>anderson Alves</p>
                <p class="font-left">UI/UX Designer, Front-end Developer</p>
            </div>
        </div>
        <div class="row sobre-inner">
            <div class="col-md-2">
                <img src="res/assets/about/guilherme.jpg" alt="Foto-Guilherme">
            </div>
            <div class="col-md-8 col-centered">
                <p class="font-left line-height"><span class="change">G</span>uilherme Leão</p>
                <p class="font-left">UI Designer, Front-end Developer</p>
            </div>
        </div>
        <div class="row sobre-inner">
            <div class="col-md-2">
                <img src="res/assets/about/paulo.jpg" alt="Foto-Paulo">
            </div>
            <div class="col-md-8 col-centered">
                <p class="font-left line-height"><span class="change">P</span>aulo André</p>
                <p class="font-left">Client Consultant</p>
            </div>
        </div>
    </div>
</div>
