<div class="row">
    <div class="col-md-12 font-justify">
        <p>Sobre a NE<span class="change">W.</span>EB<span class="change">/</span></p>
        <p>Criada em 2015, pelos alunos Paulo André, Guilherme Leão e Wanderson Alves, ambos com formação no curso de Ciência da Computação pela Universidade Catolica de Pernambuco, a NEW.EB/ vem com vasta experiência em desenvolvimento front-end projetando
            sites e pequenos sistemas usando as ultimas tecnologias existentes.</p>
        <p>Usando o máximo do <span class="html">HTML5</span> + <span class="css">CSS3</span>, <span class="js">JavaScript</span>, <span class="node">NodeJS</span>, e <span class="angular">AngularJS</span>, criamos sites dinamicos que atendem a demanda de
            nossos usuarios, prestando também todo o suporte necessário para instalação do site no servidor desejado pelo cliente.
            <br>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-2 sobre-inner">
        <div class="row">
            <img class="img-responsive center-block" src="res/assets/about/popoto.jpg" alt="Foto-Popoto">
        </div>
        <div class="line-height">
            <p class="font-center">Wanderson Alves</p>
            <p class="font-center">UI/UX Designer, Front-end Developer</p>
        </div>
    </div>
    <div class="col-md-3 sobre-inner">
        <div class="row">
            <img class="img-responsive center-block" src="res/assets/about/guilherme.jpg" alt="Foto-Popoto">
        </div>
        <div class="line-height">
            <p class="font-center">Guilherme Leão</p>
            <p class="font-center">UI Designer, Front-end Developer</p>
        </div>

    </div>
    <div class="col-md-3 sobre-inner">
        <div class="row">
            <img class="img-responsive center-block" src="res/assets/about/paulo.jpg" alt="Foto-Popoto">
        </div>
        <div class="line-height">
            <p class="font-center">Paulo André</p>
            <p class="font-center">Client Consultant</p>
        </div>

    </div>
</div>
