<div id="menu" class="menu">
    <img src="res/assets/about/logo.png" />
    <img class="play_slider" id="mid-arrow" style="display:none" src="res/assets/scrollDown.png" />
    <ul>
        <a id="btn-menu" class="show" href="#menu">MENU</a><a class="hide" href="#hidemenu">MENU</a>
        <ul class="menu-items">
            <li><a class="pause_slider" href="#" id="sobre">SOBRE</a></li>
            <li><a class="pause_slider" href="#" id="projetos">PROJETOS</a></li>
            <li><a class="pause_slider" href="#" id="infra">INFRA-ESTRUTURA</a></li>
            <li><a class="pause_slider" href="#" id="contato">CONTRATE-NOS</a></li>
        </ul>
    </ul>
</div>