<div id="sobre-div" style="display:none">
    <p class="h2-sobre">Sobre a NE<span class="change">W.</span>EB<span class="change">/</span></p>
    <p>Criada em 2015, pelos alunos Paulo André, Guilherme Leão e Wanderson Alves, ambos com formação no curso de Ciência da Computação pela Universidade Catolica de Pernambuco, a NEW.EB/ vem com vasta experiência em desenvolvimento front-end projetando sites e pequenos sistemas usando as ultimas tecnologias existentes.</p>
    <p>Usando o máximo do <span class="html">HTML5</span> + <span class="css">CSS3</span>, <span class="js">JavaScript</span>, <span class="node">NodeJS</span>, e <span class="angular">AngularJS</span>, criamos sites dinamicos que atendem a demanda de nossos usuarios, prestando também todo o suporte necessário para instalação do site no servidor desejado pelo cliente.</p>
    <p>A seguir, um pouco mais sobre os nossos integrantes:</p>
    <div class="sobre-inner">
        <img class="left" src="res/assets/about/popoto.jpg" alt="Foto-Popoto">
        <div class="sobre-inner2">
            <h2 class="name">Wanderson Alves</h2>
            <p>Cursando o oitavo periodo de Ciência da Computação na UNICAP, Wanderson Alves (vulgo Popoto), possui 1 ano e meio na área de desenvolvimento back-end, já trabalhou com migração de dados no paradigma ETL e atualmente trabalha com Adobe Flex e Ruby on Rails. Com forte paixão pelo UI/UX Design, planeja fazer especialização na área, e enquanto isso, coorderna a NEW.EB/ com seus outros dois amigos. Tecnologias que domina: HTML5, CSS3, JavaScript, Ruby on Rails.</p>
        </div>
    </div>
    <div class="sobre-inner">
        <img class="left" src="res/assets/about/guilherme.jpg" alt="Foto-Guilherme">
        <div class="sobre-inner2">
            <h2 class="name">Guilherme Leão</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada ante id semper luctus. Donec varius dapibus nisi nec sollicitudin. Fusce eget ante pellentesque, facilisis nisl ut, viverra lacus. Donec at sapien turpis. Mauris vel eros sit amet nisi faucibus tristique. Curabitur arcu metus, rhoncus vel consectetur non, commodo sit amet ex. Praesent imperdiet nisl non tellus porttitor, in sagittis purus auctor. Praesent nunc ligula, vestibulum vel urna sed, suscipit iaculis mauris. Quisque ultrices metus id mi tristique sollicitudin. Proin aliquet mauris vitae odio aliquet, sit amet cursus massa finibus. Morbi augue turpis, mollis in arcu in, gravida lobortis enim. Pellentesque ultricies sapien semper molestie iaculis. Vivamus vel tempus enim, vitae mollis justo. Sed sit amet nisi venenatis erat porta ullamcorper. Sed nisl urna, mattis quis diam a, porttitor laoreet neque. Nunc eu lacus venenatis mauris sollicitudin laoreet eget ac justo.</p>
        </div>
    </div>
</div>
